.detailsContainer {
    padding: 20px;
    border-radius: 5px;
    color: white;
    margin: 20px;
    text-align: center;
    position: relative; /* Added for positioning the delete button */
}

.urgent {
    background-color: #ff6347; /* Tomato red for urgent tasks */
}

.moderate {
    background-color: #ffa500; /* Orange for moderate tasks */
}

.normal {
    background-color: #90ee90; /* Light green for normal tasks */
}

button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.deleteButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
}
